/* styles.css */


.root {
    -fx-background-color: #102321;
}


.label {
    -fx-text-fill: #b1b4b4;
}

.radio-button{
    -fx-text-fill: #b1b4b4;
    fx-background-color: #0AD6D3;
    -fx-mark-color: #102321;

}
.button{
    -fx-text-fill: #102321;
    -fx-background-color: #0AD6D3;
    -fx-border-color: #102321;
}

.text-field{
    -fx-text-fill: #b1b4b4;
    -fx-background-color: #102321;
    -fx-border-color: #0AD6D3;
}

